<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title} + ' - ' + ${siteName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

<nav
        th:replace="~{site/fragments/navigation :: navbar(menuItems=${menuItems}, currentPage=${currentPage}, siteName=${siteName})}">
</nav>

<section>
    <div class="exhibition-content">
        <h1>Exhibitions</h1>

        <!-- Loop through the list of exhibitions -->
        <div th:each="exhibition : ${exhibitions}" class="exhibition-post">
            <h2>
                <!-- Link to the exhibition details -->
                <a th:href="@{/exhibitions/{id}(id=${exhibition.id})}" th:text="${exhibition.title}"></a>
            </h2>
            <p class="exhibition-date" th:text="${#dates.format(exhibition.date, 'MMMM dd, yyyy')}"></p>
            <div class="exhibition-content" th:utext="${exhibition.content}"></div>
            <hr>
        </div>

        <div class="pagination">
            <!-- Previous Button -->
            <a th:href="${page - 1 == 1 ? '/exhibitions' : '/exhibitions/page-' + (page - 1)}"
               th:classappend="${page == 1 ? 'disabled' : ''}">
                « Previous
            </a>

            <!-- Page Numbers -->
            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                <!-- Display first few pages, current page, last few pages -->
                <a th:if="${i <= 4 or (i >= totalPages - 3) or (i >= page - 2 and i <= page + 2)}"
                    th:href="${i == 1 ? '/exhibitions' : '/exhibitions/page-' + i}"
                    th:text="${i}"
                    th:classappend="${i == page ? 'active' : ''}"></a>

                <!-- Display '...' for skipped pages -->
                <span th:if="${(i == 5 and page > 5) or (i == totalPages - 4 and page < totalPages - 4)}">...</span>
            </span>

            <!-- Next Button -->
            <a th:href="@{'/exhibitions/page-' + ${page + 1}}" th:classappend="${page == totalPages ? 'disabled' : ''}">
                Next »
            </a>
        </div>
    </div>
</section>

<footer
        th:replace="~{site/fragments/footer :: footer(currentYear=${currentYear})}">
</footer>
</body>
</html>