<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title} + ' - ' + ${siteName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <nav
            th:replace="~{site/fragments/navigation :: navbar(menuItems=${menuItems}, currentPage=${currentPage}, siteName=${siteName})}">
    </nav>

    <section>


        <div class="content">
            <img class="inset-image"
                 th:if="${page.hasInsetImage}"
                 th:src="@{'images/inset/' + ${page.insetImage.filename}}"
                 th:alt="${page.insetImage.title}"
            />
            <div class="content-text"
                 th:if="${page.hasContent}"
                 th:utext="${page.content}">
            </div>

            <div th:if="${page.hasGallery}"
                 th:replace="~{site/fragments/gallery :: gallery(paintings=${page.gallery.getGalleryInOrder()}, url=${page.menuItem.url})}">
            </div>
        </div>
    </section>

    <footer
            th:replace="~{site/fragments/footer :: footer(currentYear=${currentYear})}">
    </footer>

</body>
</html>