/appdata/cms/
/appdata/*.zip
/appdata/html_root/
/extracted/
/target/
/.idea/
/src/main/resources/templates/site_old/
/src/main/resources/templates/VueJS-ToConvert/
/appdata/old_stuff/
*.DS_Store
target/classes/es/burl/cms/ContentManagerApp.class
