/appdata/cms/
/appdata/html_root/
/extracted/
/src/main/resources/static/
/src/main/resources/static/images/
/target/
/.idea/
/src/main/resources/templates/site_old/
/src/main/resources/templates/VueJS-ToConvert/
