<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="page" th:fragment="content(page)">

        <h1 th:text="${page.menuItem.title}" th:classappend="${page.menuItem.url == 'home' ? 'home-title' : ''}"></h1>

        <section>
            <div class="content"> <!-- TODO: FIT inset image to page, -->
                <img th:class="${page.menuItem.url == '$$@-SiteHome-@$$' ? 'home-inset' : 'inset-image'}"
                     th:if="${page.hasInsetImage}"
                     th:src="@{'images/inset/' + ${page.insetImage.filename}}"
                     th:alt="${page.insetImage.title}"
                />
                <div class="content-text"
                     th:if="${page.hasContent}"
                     th:utext="${page.content}">
                </div>
            </div>

            <div th:if="${page.hasGallery}"
                 th:replace="~{site/fragments/gallery :: gallery(paintings=${page.gallery.getGalleryInOrder()}, url=${page.menuItem.url})}">
            </div>
        </section>
    </div>
</html>