<nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="" />
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <!-- Make it so home page doesn't show in list of pages -->
        <ul v-if="!loading" class="menu-items">
            <!-- <li class="links">
              <router-link :to="{ name: 'Exhibitions' }">Exhibitions</router-link>
            </li> -->
            <li v-for="title in titles" :key="title.slug" class="links">
                <router-link
                        v-if="title.slug != 'exhibitions' && title.slug != 'home'"
                        :to="{
              name: 'Page',
              params: { slug: title.slug },
            }"
                >
                    {{ title.title }}
                </router-link>
                <router-link
                        v-if="title.slug == 'exhibitions'"
                        :to="{
              name: 'Exhibitions',
            }"
                >
                    {{ title.title }}
                </router-link>
            </li>
        </ul>
        <h1 class="logo">
            <router-link :to="{ name: 'home' }">
                Arabella Harcourt-Cooze
            </router-link>
        </h1>
    </div>
</nav>