<div @click="imgClick(painting)" style="cursor: pointer">
  <img
          :src="
              'https://edit.arabellaharcourtcooze.co.uk' +
              painting.Photo.data.attributes.formats.medium.url"
          :alt="painting.Description"
  />
  <p class="caption">{{ painting.Name }}</p>
</div>
<div class="modal-container">
  <div class="close" @click="close">&times;</div>
  <div class="body">
    <div class="modal">
      <!-- slot='modal' -->
      <img :src="imageurl" :class="`img-index--${id}`" />
      <p class="card_text">{{ caption }}</p>
      <p class="card_text">{{ dimensions }}</p>
      <p class="card_text">{{ medium }}</p>
      <p v-if="sold" class="card_text">Sold!</p>
    </div>
  </div>
</div>
<!-- TODO: Mum wants the 'Oil on canvas' part to be a field in painting (Medium?) and displayed in the modal -->